// CHARTE COLORS

$white: #eff5eb;
$blue: #6ba0bd;
$second-blue: #4e7488;
$green: #314B4D;
$second-green: #232E34;

// FONTS

$title: 'Rokkitt', serif;
$sub-title: 'Exo', sans-serif;
$text: 'Biryani', sans-serif;