* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

img {
    object-fit: cover;
}

p {
    font-size: 20px;
    font-weight: $f300;
    text-align: justify;
}

h1,
h2,
h3 {
    font-size: 60px;
    font-weight: $f600;
    margin: 0% 0 5% 0;
    font-family: $sub-title;

    @media screen and (max-width: 600px) {
        font-size: 50px;
    }

    @media screen and (max-width: $tablet-medium) {
        margin-bottom: 5%;
    }
}