// COLORS

.cnt--w {
    color: $white;
}
.cnt--b {
    color: $blue;
}
.cnt--b--s {
    color: $second-blue;
}
.cnt--g {
    color: $green;
}
.cnt--g--s {
    color: $second-green;
}

// BACKGROUND COLOR 

.cnt--bg--w {
    background-color: $white;
}
.cnt--bg--b {
    background-color: $blue;
}
.cnt--bg--b--s {
    background-color: $second-blue;
}
.cnt--bg--g {
    background-color: $green;
}
.cnt--bg--g--s {
    background-color: $second-green;
}

// FONTS 

.title {
    font-family: $title;
}
.sub-title {
    font-family: $sub-title;
}
.text {
    font-family: $text;
}

// BUTTONS 

.btn-outline {
    padding: 15px;
    letter-spacing: 1.3px;
    font-family: $sub-title;
    &:hover, 
    &:focus,
    &:active {
        transition: all 0.5s;
    }
}
.btn-outline-secondary {
    border: 1px solid $green;
    i {
        color: $green;
    }
    &:hover,
    &:focus,
    &:active {
        color: $white;
        background-color: $green;
        i {
            color: $white;
            margin-left: 5px;
        }
    }
}
.btn-outline-primary {
    border: 1px solid $second-blue;
    span {
        color: $blue !important;
    }
    &:hover, 
    &:focus,
    &:active {
        border: 1px solid $second-green;
        background-color: $second-green;
    }
}
.btn-acc {
    background-color: $white;
    span {
        color: $green !important;
    }
    &:hover,
    &:focus,
    &:active {
        background-color: $white;
    }
}
.btn-bg-g {
    color: $white;
    background-color: $green;
    @media screen and (max-width: $mobile-xs) {
        width: 100%;
    }
    &:hover, 
    &:focus,
    &:active {
        color: $white;
        background-color: $second-blue;
    }
}
.btn-bg-w {
    color: $white;
    background-color: $blue;
    @media screen and (max-width: $mobile-xs) {
        width: 100%;
    }
    &:hover, 
    &:focus,
    &:active {
        color: $white;
        background-color: $blue;
    }
}

// SECTION 

.section {
    padding: 10% 0 10% 0%;
    @media screen and (max-width: $mobile-sm) {
        padding: 15% 0 15% 0%;
    }
}

// SPAN

.sp-title {
    font-size: 22px;
    margin-bottom: 5%;
    font-weight: $f800;
    font-family: $title;
}

// CARD

.card-s {
    margin-top: 5%;
}
.card-l {
    @media screen and (max-width: $mobile-large) {
        margin-top: 5%;
    }
}
.card--top {
    margin-top: 5%;
}