// Responsive 

$mobile-xxs: 320px;
$mobile-xs: 380px;
$mobile-sm: 480px;
$mobile-medium: 500px;
$mobile-large: 767px;
$tablet-small: 780px;
$tablet-medium: 991px;
$tablet-large: 1024px;
$tablet: 1110px;

// Weight 

$f300: 300;
$f400: 400;
$f500: 500;
$f600: 600;
$f700: 700;
$f800: 800;
$f900: 900;

// Align

$center: center;
$left: left;
$end: end;

// Transform 

$uppercase: uppercase; 
$capitalize: capitalize;