.cnt--w {
  color: #f5f5f5;
}

.cnt--b {
  color: #6ba0bd;
}

.cnt--b--s {
  color: #4e7488;
}

.cnt--g {
  color: #314B4D;
}

.cnt--g--s {
  color: #232E34;
}

.cnt--bg--w {
  background-color: #f5f5f5;
}

.cnt--bg--b {
  background-color: #6ba0bd;
}

.cnt--bg--b--s {
  background-color: #4e7488;
}

.cnt--bg--g {
  background-color: #314B4D;
}

.cnt--bg--g--s {
  background-color: #232E34;
}

.title {
  font-family: "Rokkitt", serif;
}

.sub-title {
  font-family: "Exo", sans-serif;
}

.text {
  font-family: "Biryani", sans-serif;
}

.btn-outline {
  padding: 15px;
  letter-spacing: 1.3px;
  font-family: "Exo", sans-serif;
}
.btn-outline:hover, .btn-outline:focus, .btn-outline:active {
  transition: all 0.5s;
}

.btn-outline-secondary {
  border: 1px solid #314B4D;
}
.btn-outline-secondary i {
  color: #314B4D;
}
.btn-outline-secondary:hover, .btn-outline-secondary:focus, .btn-outline-secondary:active {
  color: #f5f5f5;
  background-color: #314B4D;
}
.btn-outline-secondary:hover i, .btn-outline-secondary:focus i, .btn-outline-secondary:active i {
  color: #f5f5f5;
  margin-left: 5px;
}

.btn-outline-primary {
  border: 1px solid #4e7488;
}
.btn-outline-primary span {
  color: #6ba0bd !important;
}
.btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active {
  border: 1px solid #232E34;
  background-color: #232E34;
}

.btn-acc {
  background-color: #f5f5f5;
}
.btn-acc span {
  color: #314B4D !important;
}
.btn-acc:hover, .btn-acc:focus, .btn-acc:active {
  background-color: #f5f5f5;
}

.btn-bg-g {
  color: #f5f5f5;
  background-color: #314B4D;
}
@media screen and (max-width: 380px) {
  .btn-bg-g {
    width: 100%;
  }
}
.btn-bg-g:hover, .btn-bg-g:focus, .btn-bg-g:active {
  color: #f5f5f5;
  background-color: #4e7488;
}

.btn-bg-w {
  color: #f5f5f5;
  background-color: #6ba0bd;
}
@media screen and (max-width: 380px) {
  .btn-bg-w {
    width: 100%;
  }
}
.btn-bg-w:hover, .btn-bg-w:focus, .btn-bg-w:active {
  color: #f5f5f5;
  background-color: #6ba0bd;
}

.section {
  padding: 10% 0 10% 0%;
}
@media screen and (max-width: 480px) {
  .section {
    padding: 15% 0 15% 0%;
  }
}

.sp-title {
  font-size: 22px;
  margin-bottom: 5%;
  font-weight: 800;
  font-family: "Rokkitt", serif;
}

.card-s {
  margin-top: 5%;
}

@media screen and (max-width: 767px) {
  .card-l {
    margin-top: 5%;
  }
}

.card--top {
  margin-top: 5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

img {
  object-fit: cover;
}

p {
  font-size: 20px;
  font-weight: 300;
  text-align: justify;
}

h1,
h2,
h3 {
  font-size: 60px;
  font-weight: 600;
  margin: 0% 0 5% 0;
  font-family: "Exo", sans-serif;
}
@media screen and (max-width: 600px) {
  h1,
h2,
h3 {
    font-size: 50px;
  }
}
@media screen and (max-width: 991px) {
  h1,
h2,
h3 {
    margin-bottom: 5%;
  }
}

.form {
  padding: 40px;
  background-color: white;
  box-shadow: 0px 3px 5px 4px rgba(0, 0, 0, 0.1);
}
.form label {
  color: #4e7488;
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: "Exo", sans-serif;
}
.form input,
.form select,
.form input[type=date] {
  font-size: 13px;
  padding: 20px;
  margin-top: 10px;
  font-weight: 500;
  font-family: "Biryani", sans-serif;
}

.header .infos {
  padding: 20px 0 20px 0;
  background-color: white;
}
.header .infos a {
  color: #314B4D;
  font-size: 14px;
  font-weight: 500;
  font-family: "Biryani", sans-serif;
}
.header .infos a i {
  margin-right: 10px;
}
@media screen and (max-width: 500px) {
  .header .infos .a-career {
    right: 6% !important;
    top: 22px !important;
  }
}
@media screen and (max-width: 767px) {
  .header .infos .a-career {
    top: 10px;
    right: 17%;
    position: absolute;
  }
}
.header .navbar {
  background-color: #314B4D;
}
.header .navbar .nav-link {
  color: #f5f5f5;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.8px;
  font-family: "Exo", sans-serif;
}
.header .navbar .nav-link .icon-drop {
  margin-left: 10px;
  margin-right: 10px;
}
.header .navbar .nav-link .icon-drop i {
  color: #6ba0bd;
}
.header .navbar .dropdown-menu.show {
  border: none;
  background-color: #314B4D;
}
.header .navbar .dropdown-menu.show .dropdown-item {
  color: #f5f5f5;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.8px;
  font-family: "Exo", sans-serif;
}
.header .navbar .dropdown-menu.show .dropdown-item:hover, .header .navbar .dropdown-menu.show .dropdown-item:focus {
  color: #6ba0bd;
  background-color: transparent;
}
.header .mg-1 {
  margin-top: 10px;
}
.header .navbar-toggler {
  padding: 15px;
  background-color: #232E34;
}
.header .navbar-toggler .navbar-icon {
  color: #f5f5f5;
}
@media screen and (max-width: 991px) {
  .header .navbar-collapse {
    top: 0;
    left: 0px;
    z-index: 999;
    width: 300px;
    padding: 50px;
    height: 100%;
    position: fixed;
    transition: all 0.5s;
    background: #314B4D;
  }
}

.footer .infos {
  padding: 40px 0 40px 0;
}
.footer .infos h5 {
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 1.5px;
}
.footer .infos p,
.footer .infos span {
  color: #232E34;
  font-size: 14px;
  font-weight: 400;
}
.footer .infos .link-o {
  margin-bottom: 20px;
}
.footer .infos .link-o a {
  color: #232E34;
  text-decoration: none;
}
.footer .infos .link-o span {
  margin-left: 5px;
}
.footer .infos .link-o .btn-cookies {
  padding: 15px;
  color: #314B4D;
  letter-spacing: 1.3px;
  border: 1px solid #314B4D;
}
.footer .infos .link-o .btn-cookies:hover, .footer .infos .link-o .btn-cookies:focus {
  color: #f5f5f5;
  background-color: #314B4D;
}
.footer .infos .form-news input {
  padding: 15px;
  font-size: 14px;
  font-weight: 400;
  font-family: "Biryani", sans-serif;
}
.footer .infos .form-news input::placeholder {
  font-family: "Biryani", sans-serif;
}
.footer .infos .form-news .btn {
  width: 100%;
}
.footer .infos--supp {
  padding: 20px 0 20px 0;
  background-color: #314B4D;
}
.footer .infos--supp .infos--cnt .agency--name {
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.footer .infos--supp .infos--cnt .link-res a i {
  font-size: 15px;
  margin-top: 15px;
  margin-right: 15px;
}
.footer .infos--supp .copy {
  font-weight: 700;
  margin-top: 30px;
  text-align: end;
  text-transform: uppercase;
}
@media screen and (max-width: 991px) {
  .footer .infos--supp .copy {
    text-align: left;
  }
}
@media screen and (max-width: 1110px) {
  .footer .infos--supp .copy {
    line-height: 25px;
  }
}

.modal .modal-content {
  padding: 30px;
  border: none;
  background-color: #314B4D;
}
.modal .modal-content .close-modal {
  text-align: end;
}
.modal .modal-content .close-modal .btn-clo span {
  color: #f5f5f5 !important;
  font-weight: 500;
}
.modal .modal-content .close-modal .btn-clo:hover, .modal .modal-content .close-modal .btn-clo:focus {
  color: #f5f5f5;
}
.modal .modal-content .logo-modal {
  text-align: center;
  margin: 10% 0 10% 0;
}
.modal .modal-content .logo-modal .logo {
  width: 25%;
}
.modal .modal-content .header-modal {
  margin-bottom: 10%;
}
.modal .modal-content .header-modal h4 {
  font-size: 20px;
  text-transform: uppercase;
}
.modal .modal-content .text-modal p,
.modal .modal-content .close-btn p {
  color: #f5f5f5;
  font-size: 14px;
  font-weight: 300;
}
.modal .modal-content .text-modal strong,
.modal .modal-content .close-btn strong {
  font-weight: 800;
  text-transform: uppercase;
}
.modal .modal-content .text-modal a,
.modal .modal-content .close-btn a {
  font-weight: 800;
  color: #6ba0bd !important;
  text-decoration: none;
  text-transform: none !important;
}
.modal .modal-content .close-btn {
  text-align: end;
}
.modal .modal-content .buttons {
  margin-top: 10%;
}
.modal .modal-content .buttons .btn {
  width: 100%;
}
@media screen and (max-width: 991px) {
  .modal .modal-content .buttons .btn-param {
    margin-bottom: 5%;
  }
}

.slider .carousel-caption {
  padding: 50px;
  width: 30%;
  margin-bottom: 5%;
  background-color: white;
}
@media screen and (max-width: 780px) {
  .slider .carousel-caption {
    width: 71% !important;
  }
}
@media screen and (max-width: 1480px) {
  .slider .carousel-caption {
    width: 40%;
  }
}
.slider .carousel-caption h1 {
  font-size: 65px;
  font-weight: 600;
  text-align: left;
}
@media screen and (max-width: 606px) {
  .slider .carousel-caption h1 {
    font-size: 30px !important;
  }
}
@media screen and (max-width: 1480px) {
  .slider .carousel-caption h1 {
    font-size: 45px;
  }
}
.slider .carousel-caption p {
  font-weight: 300;
  margin: 5% 0% 5% 0;
}
@media screen and (max-width: 1480px) {
  .slider .carousel-caption p {
    margin: 10% 0% 10% 0%;
  }
}
.slider .carousel-caption .button {
  text-align: left;
}
.slider img {
  height: 100vh;
}
.slider .prev-icon i,
.slider .next-icon i {
  color: white;
  font-size: 18px;
}

.pres-secteur img {
  width: 100%;
}
.pres-secteur .expert {
  width: 20%;
  padding: 40px;
  margin-top: -6%;
  margin-left: 6%;
  position: absolute;
  text-align: center;
  background-color: white;
}
@media screen and (max-width: 416px) {
  .pres-secteur .expert {
    margin-top: -15%;
  }
}
@media screen and (max-width: 991px) {
  .pres-secteur .expert {
    width: 58% !important;
    margin-bottom: 20%;
  }
}
@media screen and (max-width: 1480px) {
  .pres-secteur .expert {
    width: 30%;
  }
}
.pres-secteur .expert .cnt {
  color: #f5f5f5;
  padding: 20px;
  background-color: #232E34;
}
.pres-secteur .expert .cnt .number {
  font-size: 35px;
  font-weight: 800;
  text-transform: uppercase;
}
.pres-secteur .expert .cnt .year {
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
}
@media screen and (max-width: 600px) {
  .pres-secteur #expert {
    margin-left: 6%;
  }
}
@media screen and (max-width: 780px) {
  .pres-secteur #expert {
    width: 80% !important;
  }
}
.pres-secteur .content {
  padding: 0% 5% 5% 5%;
}
@media screen and (max-width: 767px) {
  .pres-secteur .content {
    padding: 40% 0% 20% 0% !important;
  }
}
@media screen and (max-width: 991px) {
  .pres-secteur .content {
    padding: 24% 0% 20% 0%;
  }
}

.us .img {
  text-align: end;
}
@media screen and (max-width: 991px) {
  .us .img {
    margin-top: 10%;
  }
  .us .img img {
    width: 100%;
  }
}

.card-sec {
  padding: 40px;
  margin-top: 5%;
  border: 1px solid #4e7488;
  background-color: #4e7488;
}
.card-sec h3 {
  color: #f5f5f5;
}
.card-sec p {
  font-size: 15px;
}

.card-chiffre {
  padding: 50px;
  text-align: center;
  border: 3px solid #4e7488;
  background-color: transparent;
}
.card-chiffre .icon .ic {
  color: #6ba0bd;
  font-size: 55px;
}
.card-chiffre .chiffre {
  margin: 5% 0 5% 0;
}
.card-chiffre .chiffre .num {
  color: #232E34;
  font-size: 65px;
  font-weight: 700;
  font-family: "Exo", sans-serif;
}
.card-chiffre .total .tot {
  color: #6ba0bd;
  font-size: 30px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: "Rokkitt", serif;
}

.card-project {
  border: none;
  background-color: transparent;
}
.card-project .category {
  margin-top: 34px;
  position: absolute;
  margin-left: -3px;
  padding: 20px 30px 20px 30px;
  background-color: #f5f5f5;
}
.card-project .category .name-category {
  color: #6ba0bd;
  font-weight: 600;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-family: "Biryani", sans-serif;
}
.card-project img {
  height: 600px;
  opacity: 1;
}
@media screen and (max-width: 991px) {
  .card-project img {
    height: 400px;
  }
}
.card-project .card-body {
  opacity: 0;
}
.card-project .card-body {
  padding: 30px;
  margin-top: -20%;
  opacity: 1;
  transition: 0.5s ease;
  background-color: #232E34;
}
.card-project .card-body h4 {
  color: #6ba0bd;
}
.card-project .card-body p {
  margin: 5% 0 5% 0;
}

/*# sourceMappingURL=style.css.map */
