.card-sec {
    padding: 40px;
    margin-top: 5%;
    border: 1px solid $second-blue;
    background-color: $second-blue;
    h3  {
        color: $white;
        font-size: 22px;
        margin-bottom: 5%;
        font-weight: $f800;
        font-family: $sub-title;
    }
    p {
        font-size: 15px;
    }
}