.card-sec {
    padding: 40px;
    margin-top: 5%;
    border: 1px solid $second-blue;
    background-color: $second-blue;
    h3  {
        color: $white;
    }
    p {
        font-size: 15px;
    }
}