.card-project {
    border: none;
    background-color: transparent;

    img {
        height: 600px;
        opacity: 1;
        @media screen and (max-width: $tablet-medium) {
            height: 400px;
        }
    }

    .card-body {
        opacity: 0;
    }
    &:hover,
    &:focus,
    &:active {
        .card-body {
            padding: 30px;
            margin-top: -20%;
            opacity: 1;
            transition: .5s ease;
            background-color: $second-green;
    
            h4 {
                font-size: 25px;
                color: $blue;
                font-family: $title;
            }
    
            p {
                font-size: 17px !important;
                margin: 5% 0 5% 0;
            }
        }
    }
}